<!-- templates/modals.html -->
<!-- Modal Genérico -->
<div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"  style="min-width: 30vh; min-height: 60vh;">
            <div class="modal-header">
                <h5 class="modal-title" id="genericModalLabel">Seleccionar Elemento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="search-modales" class="search-container d-flex mb-3">
                    <svg style="margin-top: auto; margin-bottom: auto; padding-right:5px;" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.3-4.3"></path>
                    </svg>
                    <input style="margin-top: auto; margin-bottom: auto" class="rounded search-input" type="text" id="inputBusqueda" onkeyup="debouncedBuscador()" placeholder="Buscar...">
                </div>
                <div id="genericModalContent">
                    <!-- Aquí se insertará dinámicamente el contenido -->
                </div>
            </div>
            <div class="modal-footer" id="genericModalPagination">
                <!-- Aquí se insertará dinámicamente la paginación -->
            </div>
        </div>
    </div>
</div>
