{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'resources/lyncott-logo.png' %}"
      alt="LyncottIcon"
    />
    <title>Manuales</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'styles/styleManuales.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="padding-left: 2vh; padding-right: 2vh"
      id="navbar-manual"
    >
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'resources/logo-lyncott.png' %}"
            alt="Lyncott"
            class="img-fluid"
            style="max-width: 150px"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mx-auto text-center">
            <h1
              class="mb-0 font-weight-normal"
              style="font-size: 2.5rem; font-weight: bold"
            >
              Manuales o Instructivo KAM
            </h1>
          </div>

          <div class="d-flex align-items-center justify-content-center mt-1">
            {% if user.is_authenticated %}
            <form method="get" action="{% url 'home' %}" class="d-inline">
              <button
                type="submit"
                class="btn btn-danger custom-btn w-80 text-center me-2"
                style="font-weight: 500"
              >
                Volver a inicio
              </button>
            </form>
            
            
            <form method="post" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
              <button
                type="submit"
                class="btn btn-danger custom-btn w-80 text-center"
                style="font-weight: 500"
              >
                Cerrar Sesión
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container pt-3 flex mt-4" style ="overflow: hidden;">
      <div class="row justify-content-center">
        <div class="col-md-4 manualCard" id="manualCard">
          <div class="bg-gradient mb-4 card-uniform">
            <div class="card-inner text-center manual-card p-3">
              <h5 class="card-title font-weight-normal" style="font-size: 2.5rem">Manuales</h5>
              <form>
                <div class="form-group">
                  <label for="categoriaReporte" class="mt-1" style="font-size: 1rem; font-weight: bold">Categoría de Reporte</label>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkVentas" />
                    <label class="form-check-label" for="checkVentas">Ventas</label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkContable" />
                    <label class="form-check-label" for="checkContable">Contable</label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkIndicadores" />
                    <label class="form-check-label" for="checkIndicadores">Indicadores</label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkClientes" />
                    <label class="form-check-label" for="checkClientes">Clientes, Consignatarios, etc...</label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkRegional" />
                    <label class="form-check-label" for="checkRegional">Regional</label>
                  </div>
                  <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="checkDevoluciones" />
                    <label class="form-check-label" for="checkDevoluciones">Devoluciones</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-8" id="infoCard">
          <div class="bg-gradient mb-4 card-uniform">
            <div class="card-inner text-center manual-card p-3">
              <h5 class="card-title font-weight-normal" style="font-size: 2rem">Información Adicional</h5>
              <p id="infoContent">Aquí va la información específica.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper-footer">
      <footer class="bg-danger text-white">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-2">
              <div class="d-flex align-items-start mt-4">
                <img
                  src="{% static 'resources/lyncott-80.png' %}"
                  alt="LogoBlanco"
                  class="img-fluid"
                  style="max-height: 70px"
                />
              </div>
            </div>
            <div class="col-md-7">
              <div class="d-flex align-items-center">
                <div class="contact-info">
                  <p class="mb-1">Contáctanos</p>
                  <p class="mb-1">
                    Circuito El Marqués Sur #9, Parque Industrial El Marqués. Querétaro,México
                  </p>
                  <p class="mb-1">
                    Email:
                    <a href="mailto:atencion.clientes@lyncott.mx"
                      >atencion.clientes@lyncott.mx</a
                    >
                    | Teléfono: <a href="tel:8005962688">800-596-2688</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div>
                <img
                  src="{% static 'resources/certificaciones-lyncott-2019.png' %}"
                  alt="Imagen Inferior Derecha"
                  class="img-fluid"
                  style="max-width: 100%"
                />
                <div class="text-right">
                  <p class="mb-0">
                    &copy; 2024 Lyncott. Todos los derechos reservados.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script src="{% static 'scripts/infoCheckBox.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
  </body>
</html>
