{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'resources/lyncott-logo.png' %}"
      alt="LyncottIcon"
    />
    <title>Portal Lyncott</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'styles/styleHome.css' %}" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="padding-left: 2vh; padding-right: 2vh"
    >
      <div
        class="container-fluid d-flex justify-content-between align-items-center"
      >
        <a class="navbar-brand">
          <img
            src="{% static 'resources/logo-lyncott.png' %}"
            alt="Lyncott"
            class="img-fluid"
            style="max-width: 150px"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="mx-auto text-center">
            <h1
              class="mb-0 font-weight-normal"
              style="font-size: 2.5rem; font-weight: bold"
            >
              ¡Bienvenido {{ user.username }} !
            </h1>
          </div>

          <div class="d-flex align-items-center justify-content-center mt-1">
            {% if user.is_authenticated %}            
            <form method="post" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
                <button type="submit" class="btn btn-danger custom-btn w-80 text-center"  style = "font-weight: 500;">
                  Cerrar Sesión
                </button>
            </form>
            {% endif %}
          </div>
        </div>

      </div>
    </nav>
    
      <h1
      class="mb-0 font-weight-normal justify-content-center text-center"
      style="font-size: 2.5rem; font-weight: bold"
    >
      Seleccionar reporte a consultar
    </h1>

    <div class="container-flex pt-3 pl-3 pr-3">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-6 d-flex flex-column">
            <div class="bg-gradient flex-grow-1 mb-4 card-uniform">
              <div class="card-inner text-center report-card p-5">
                <h5
                  class="card-title font-weight-normal"
                  style="font-size: 2rem"
                >
                  Reportes
                </h5>
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group mt-3">
                    <label
                      for="categoriaReporte"
                      style="font-size: 1.25rem; font-weight: 500"
                      >Categoría de reporte</label
                    >
                    {% if dbname %}
                    <p style="font-weight: 500">
                      Conectado a la base de datos {{ dbname }}
                    </p>
                    {% else %}
                    <p style="font-weight: 500; color: #ed1c24">
                      ¡No se pudo conectar a la base de datos!
                    </p>
                    {% endif %}
                    <select
                      class="mt-2 border-2 border-dark form-select"
                      id="categoriaReporte"
                      name="categoria_reporte"
                      onchange="updateTiposReporte()"
                    >
                      <option value="" class="opacity-50">
                        Seleccione una categoría
                      </option>
                      {% for categoria in categorias_reporte %}
                      <option value="{{ categoria }}">{{ categoria }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group mt-4">
                    <label for="tipoReporte" style="font-size: 1.25rem"
                      >Tipo de reporte</label
                    >
                    <select
                      class="mt-2 border-2 border-dark form-select"
                      id="tipoReporte"
                      name="tipo_reporte"
                    >
                      <option value="" class="opacity-50">
                        Seleccione un tipo
                      </option>
                    </select>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-dark custom-btn max-content d-flex mt-3" style ="margin: 0 auto;"
                  >
                    <img
                      class="mb-auto mt-auto"
                      style="max-width: 50px; filter: invert()"
                      src="{% static 'resources/analysis-analytics-data-svgrepo-com.svg' %}"
                      alt="Reportes"
                    />
                    <p
                      style="
                        padding: 0;
                        font-weight: 500;
                        font-size: 1.25rem;
                        margin-left: 5px;
                        margin-top: auto;
                        margin-bottom: auto;
                      "
                    >
                      Buscar reporte
                    </p>
                  </button>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-6 d-flex flex-column">
            <div class="row flex-grow-1">
              <div class="col-md-12 d-flex flex-column">
                <div
                  class="bg-gradient bg-gradient-manuales flex-grow-1 card-uniform"
                >
                  <div class="card-inner d-flex p-2 text-center justify-center">
                    <div class="d-flex flex-column" style="margin: 0 auto">
                      <div class="text-center mb-4">
                        <h5
                          class="card-title font-weight-normal mt-2"
                          style="font-size: 2rem"
                        >
                          Manuales
                        </h5>
                      </div>
                      <div class="d-flex">
                        <div>
                          {% if user.is_authenticated %}
                          <form
                            method="post"
                            action="{% url 'manuales' %}"
                            class="d-inline"
                          >
                            {% csrf_token %}
                            <button
                              type="submit"
                              class="btn btn-dark custom-btn max-content d-flex"
                            >
                              <svg
                                style="margin-top: auto; margin-bottom: auto"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2.25"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-book"
                              >
                                <path
                                  d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"
                                />
                              </svg>
                              <p
                                style="
                                  padding: 0;
                                  font-weight: 500;
                                  font-size: 1.25rem;
                                  margin-left: 5px;
                                  margin-top: auto;
                                  margin-bottom: auto;
                                "
                              >
                                IR A KAM
                              </p>
                            </button>
                          </form>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 d-flex flex-column">
                <div
                  class="bg-gradient bg-gradient-directorio flex-grow-1 mt-2 card-uniform"
                >
                  <div
                    class="card-inner p-2 text-center justify-center d-flex flex-column"
                  >
                    <div class="text-center mb-4">
                      <h5
                        class="card-title font-weight-normal mt-2"
                        style="font-size: 2rem; fomt-2"
                      >
                        Directorio
                      </h5>
                    </div>
                    <div style="margin: 0 auto">
                      {% if user.is_authenticated %}
                      <form
                        method="post"
                        action="{% url 'directorios' %}"
                        class="d-inline"
                      >
                        {% csrf_token %}
                        <button
                          type="submit"
                          class="btn btn-dark custom-btn max-content d-flex"
                        >
                          <svg
                            style="margin-top: auto; margin-bottom: auto"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-book-marked"
                          >
                            <path
                              d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"
                            />
                            <polyline points="10 2 10 10 13 7 16 10 16 2" />
                          </svg>
                          <p
                            style="
                              padding: 0;
                              font-weight: 500;
                              font-size: 1.25rem;
                              margin-left: 5px;
                              margin-top: auto;
                              margin-bottom: auto;
                            "
                          >
                            IR A DIRECTORIO
                          </p>
                        </button>
                      </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrapper-footer">
      <footer class="bg-danger text-white">
        <div class="container">
          <div class="row align-items-start">
            <div class="col-md-2">
              <div class="d-flex align-items-start mt-4">
                <img
                  src="{% static 'resources/lyncott-80.png' %}"
                  alt="LogoBlanco"
                  class="img-fluid"
                  style="max-height: 70px"
                />
              </div>
            </div>
            <div class="col-md-7">
              <div class="d-flex align-items-center">
                <div class="contact-info">
                  <p class="mb-1">Contáctanos</p>
                  <p class="mb-1">
                    Circuito El Marqués Sur #9, Parque Industrial El Marqués El
                    Colorado, El Marqués. Querétaro, Querétaro México
                  </p>
                  <p class="mb-1">
                    Email:
                    <a href="mailto:atencion.clientes@lyncott.mx"
                      >atencion.clientes@lyncott.mx</a
                    >
                    | Teléfono: <a href="tel:8005962688">800-596-2688</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <div>
                <img
                  src="{% static 'resources/certificaciones-lyncott-2019.png' %}"
                  alt="Imagen Inferior Derecha"
                  class="img-fluid"
                  style="max-width: 100%"
                />
                <div class="text-right">
                  <p class="mb-0">
                    &copy; 2024 Lyncott. Todos los derechos reservados.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Script para pasar la variable de contexto a JavaScript -->
    <script>
      const categoriasReporte = {{ categorias_reporte|safe }};
    </script>
    <!-- Incluir tu archivo JavaScript separado -->
    <script src="{% static 'scripts/categorias.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
