/* Estilos generales */
html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.content-wrapper, .content-wrapper-footer, .container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;
  padding: 0 2vh;
}

/* Botones personalizados */
.custom-btn, .btn-danger, .btn-dark {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.custom-btn {
  background-color: #ffffff;
  color: #ed1c24;
  border: 2px solid #ed1c24;
}

.btn-danger {
  background-color: #ed1c24;
  color: #ffffff;
  border: 2px solid #ed1c24;
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

/* Fondos gradientes */
.bg-gradient, .bg-gradient-manuales, .bg-gradient-directorio {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.bg-gradient::before, .bg-gradient::after,
.bg-gradient-manuales::before, .bg-gradient-manuales::after,
.bg-gradient-directorio::before, .bg-gradient-directorio::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.bg-gradient::before {
  top: 0;
  background: linear-gradient(to bottom, #ed1c24, #ffffff);
}

.bg-gradient::after {
  bottom: 0;
  background: linear-gradient(to top, #ed1c24, #ffffff);
}

.bg-gradient-manuales::before, .bg-gradient-manuales::after,
.bg-gradient-directorio::before, .bg-gradient-directorio::after {
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, #ed1c24, #ffffff);
}

/* Tarjetas */
.card-inner {
  background: white;
  border-radius: 18px;
  padding: 3vh;
  box-shadow: 0px 4px 8px rgba(168, 168, 168, 0.5);
}

/* Formularios */
.form-control {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Encabezado y pie de página */
.header {
  background-color: #ffffff;
  color: #ed1c24;
  padding: 10px;
  text-align: left;
}

footer {
  background-color: #ed1c24;
  color: white;
  padding: 10px;
  text-align: center;
}
