html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-btn {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;
}

.content-wrapper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.parametro {
  display: none;
}

.btn-danger {
  background-color: #ed1c24;
  border-color: #ed1c24;
  border-radius: 10px;
  padding: 10px 50px;
}

footer {
  background-color: #ed1c24;
  color: white;
  margin-top: auto;
  padding: 0;
}
