html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-btn {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;
}

.content-wrapper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.parametro {
  display: none;
}

.btn-danger {
  background-color: #ed1c24;
  border-color: #ed1c24;
  border-radius: 10px;
  padding: 10px 50px;
}

.date-container {
  position: relative;
  display: flex;
  align-items: center;
}

.date-container input {
  width: 100%;
  padding-right: 30px;
}

.date-container .calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

footer {
  background-color: #ed1c24;
  color: white;
  margin-top: auto;
  padding: 0;
}

.fixed-width-button {
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding: 3px;
}

#tablaReportes {
  overflow-x: auto; /* Habilita el desplazamiento horizontal si la tabla es demasiado ancha */
  padding: 0; /* Elimina el padding para evitar espacio extra */
}

.table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible del contenedor */
}

.datos-tabla {
  width: 15vh;
  height: max-content;
} 

.numero-tabla {
  width: 2vh;
  height: max-content;
} 

.btn-active-green {
  background-color: #ed1c24;
  border-color: #ed1c24;
  color: white;
}

.btn-active-green:focus, .btn-active-green:hover {
  background-color: #ed1c24;
  border-color: #ed1c24; 
  color: white;
}

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55.5vh; /* Ocupa toda la altura del modal */
  flex-direction: column; /* Para colocar el texto debajo del spinner */
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: currentColor;
}


/* .pagination .page-item.active .page-link {
  background-color: #ed1c24;
  color: #ffffff;
  border-color: #ed1c24;
} */
