html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../resources/leche-boton2.png");
  background-size: auto; 
  object-fit: fill;
  height: max-content;
}

.custom-btn {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;
}

.content-wrapper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.parametro {
  display: none;
}

.btn-danger {
  background-color: #ed1c24;
  border-color: #ed1c24;
  border-radius: 10px;
  padding: 10px 50px;
}

.date-container {
  position: relative;
  display: flex;
  align-items: center;
}

.date-container input {
  width: 100%;
  padding-right: 30px;
}

.date-container .calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

footer {
  background-color: #ed1c24;
  color: white;
  margin-top: auto;
  padding: 0;
}

.fixed-width-button {
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding: 3px;
}

#tablaReportes {
  overflow-x: auto;
  padding: 0;
}

.table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible del contenedor */
}

/* .datos-tabla {
  width: 15vh;
  height: max-content;
}  */

.numero-tabla {
  width: 2vh;
  height: max-content;
} 

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55.5vh; /* Ocupa toda la altura del modal */
  flex-direction: column; /* Para colocar el texto debajo del spinner */
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: currentColor;
}

.form-group {
  margin-bottom: 20px;
}

.form-check-inline {
  display: inline-block;
  width: 45%;
  margin-bottom: 10px;
}

.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.form-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.custom-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
}

label {
  font-weight: 600;
}

#resultadosPorPagina {
  font-size: 0.9em; /* Ajusta el tamaño de la fuente */
  width: auto; /* Mantiene el ancho automático */
  padding: 5px; /* Reduce el padding para hacer el select más pequeño */
  border: 1px solid #ced4da; /* Cambia el color del borde */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #fff; /* Color de fondo */
  height: auto; /* Deja que la altura se ajuste automáticamente */
}

.modal-custom {
  min-width: 300px;
  max-width: 90%;  /* Adaptativo para pantallas pequeñas */
  min-height: 75vh;
  max-height: 90vh;
  overflow-y: auto; /* Scroll si el contenido excede */
  overflow-x: hidden;
}

.selectable-item {
  white-space: nowrap;       /* Evita saltos de línea */
  overflow: hidden;          /* Oculta el contenido excedente */
  text-overflow: ellipsis;   /* Agrega puntos suspensivos al truncar */
  max-width: 100%;           /* Asegura que no desborde */
}

@media (max-width: 768px) {
  .selectable-item {
      max-width: 80vw;       /* Ajuste específico para móviles */
      font-size: 0.9rem;     /* Tamaño de texto más pequeño */
  }
}

@media (max-width: 992px) {
  .navbar {
    background-color: rgba(255, 200, 200, 0.9) !important; 
  }
}

.card-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-help {
  background-color: #00aae9; 
  color: white;
  border: 1px solid #000; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.hidden {
  display: none;
}

.settings-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.settings-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.color-choice {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.color-choice:hover {
  opacity: 0.8;
}

.table .pinned {
  position: sticky;
  left: 0;
  background-color: #e0e0e0;
  z-index: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.btnPin {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pin-column-btn {
  fill: #000000;
  transition: fill 0.3s ease;
}

.pin-column-btn.active {
  fill: #ed1c24;
}

.align-right {
  text-align: right;
}