html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../resources/fondo-leche.jpg");
  background-size: cover;
}

.card-body {
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
  margin: 0;
  padding: 0;
  z-index: 1; /* Asegura que el contenido del texto esté por encima de la imagen */
}

.card-body::before {
  content: ""; /* Necesario para generar el pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../resources/leche-boton.png");
  background-size: cover; /* Asegura que la imagen cubra toda la tarjeta */
  background-position: left; /* Centra la imagen */
  opacity: 0.5; /* Ajusta la opacidad aquí */
  z-index: -1; /* Asegura que la imagen quede detrás del contenido */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0;
  padding-left: 2vh;
  padding-right: 2vh;
}

.content-wrapper-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0;
  margin: 0;
}

.container-flex {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* .custom-btn {
  display: block;
  width: auto;
  text-align: center;
} */

.card-inner {
  background: white;
  border-radius: 18px;
  padding: 3vh;
  box-shadow: 0px 4px 8px rgba(168, 168, 168, 0.5);
  height: 100%;
  width: 100%;
}

.header {
  background-color: #ffffff;
  color: #ed1c24;
  padding: 10px;
  text-align: left;
}

footer {
  background-color: #ed1c24;
  color: white;
  margin-top: auto;
  padding: 0;
}

.card {
  border: 2px solid #00AAE9; /* Borde azul por defecto */
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(145deg, #ffffff, #f3f3f3);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(227, 119, 57, 0.8); /* Sombra anaranjada */
  border-color: #E37739; /* Cambia el borde a color anaranjado */
  transition: transform 0.3s ease, box-shadow 0.5s ease, border-color 0.3s ease;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #0a0a0a;
}

.hover-info {
  font-size: 0.95rem;
  color: #888;
  transition: opacity 0.3s ease;
}

a.text-decoration-none {
  text-decoration: none;
  color: inherit;
}
